<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login Here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body style="background: #e2e2e2;">

	<div class="container">
		<div class="row mt-5">
			<div class="col-md-6 offset-md-3">



				<form novalidate="novalidate" th:action="@{/process}" method="post" class="bg-white p-4"
					th:object="${loginData}">

					<h1 class="text-center">Signup Here</h1>

					<div class="form-group">
						<label for="exampleInputEmail1">User Name</label> <input
							type="text" name="userName" class="form-control "
							th:value="${loginData.userName}"
							th:classappend="${#fields.hasErrors('userName')?'is-invalid':''}"
							id="exampleInputEmail1" aria-describedby="emailHelp" />

						<div th:each="e : ${#fields.errors('userName')}" th:text="${e}"
							id="validationServer03Feedback" class="invalid-feedback"></div>





					</div>




					<div class="form-group">

						<label for="exampleInputPassword1">User Email</label> <input
							type="email" name="email" th:value="${loginData.email}"
							th:classappend="${#fields.hasErrors('email')}?'is-invalid':''"
							class="form-control" id="exampleInputPassword1" />

						<div th:each="e : ${#fields.errors('email')}" th:text="${e}"
							class="invalid-feedback"></div>


					</div>


					<div class="form-group form-check">

						<input
							th:classappend="${#fields.hasErrors('agreed')}?'is-invalid':''"
							name="agreed" type="checkbox" class="form-check-input"
							id="exampleCheck1"> <label class="form-check-label"
							for="exampleCheck1"> Agree terms and conditions</label>
						<div th:each="e : ${#fields.errors('agreed')}" th:text="${e}"
							class="invalid-feedback"></div>

					</div>


					<div class="container text-center">

						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>


			</div>
		</div>
	</div>


</body>
</html>